.main {
  display: flex;
  justify-content: space-between;
}
.left-side {
  flex: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#bg-img-reg {
  background-image: url("../../components/assets/Register.jpg");
  width: 100%;
  min-width: 300px;
  min-height: 93.1vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
@media only screen and (max-height: 440px) {
  #bg-img-reg {
    background-image: none;
    background-color: #359bc7;
  }
}
